obj/NC2.csproj.nuget.dgspec.json
obj/NC2.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.0/NC2.assets.cache
obj/Debug/netcoreapp3.0/NC2.csprojAssemblyReference.cache
